/* Add CSS Styling */
.odd-element {
    background-color: rgb(242, 170, 169);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.but-cooler {
    font-size: 24px;
}

#element-two {
    color: #0000f5;
    font-size: 36px;
}

#element-four {
    background-color: hsl(110, 95%, 77%);
    font-size: 24px;
    font-weight: 700;
}