/* Add CSS Styling */
.left-button, .right-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.left-button {
    color: white;
    background-color: #000000;
}

.right-button {
    background-color: hsl(60, 100%, 50%);
}